<p>
    <b> ID: </b> <%= @order.id %>
</p>
<p>
    <b> Usuário: </b> <%= @order.user %>
</p>
<p>
    <b> Criado em: </b> <%= @order.created_at %>
</p>

<a class='btn btn-primary pull-right' href='/orders'> Voltar </a>